{% extends 'base.html' %}

{% block title %}Добавить фильм{% endblock %}

{% block content %}
<h1>Добавить фильм</h1>
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label">Название фильма</label>
        {{ form.title }}
    </div>
    <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">Описание фильма</label>
        {{ form.description }}
    </div>
    <div class="mb-3">
        <label for="{{ form.review.id_for_label }}" class="form-label">Отзыв</label>
        {{ form.review }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}